%h1 User import

%form{ method: 'post', enctype: 'multipart/form-data', action: '/process_import'}
  %label Import users
  %input{ type: 'file', name: 'file' }

  %button{ type: "submit", class: "btn" } Submit
