.well
  %p.lead.underline At Bat
  %p.lead
    = "#{@user.first} #{@user.last}"
  .controls
    %a{ href: '/email', class: 'btn'}
      Email
      %i.icon-envelope
    %a{ href: '/next', class: 'btn pull-right'}
      Next
      %i.icon-chevron-right
