!!! 5
%html
  %head
    %title= "Stand"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %link{ :href => "/feed", :rel => "alternate", :title => "Atom", :type => "application/atom+xml" }
    %link{ :href => "/css/bootstrap.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "/css/bootstrap-responsive.css", :media => "screen", :rel => "stylesheet" }

    %meta{ :name => "viewport", :content=>"width=device-width, initial-scale=1.0"}

  %body
    .container-fluid
      -if flash
        .row-fluid
          .span12
            .alert
              %button{ :type => "button", :class => "close", 'data-dismiss' => "alert"} ×
              = flash[:notice] || flash[:warning]
      .row-fluid
        .span3
          %ul.nav.nav-list
            %li
              %form{ :action => "/reset", :method => "post"}
                %input{ :type => "submit", :name => "reset", :value => 'Reset'}
            %li
              %form{ :action => "/email", :method => "post"}
                %input{ :type => "submit", :name => "email", :value => 'Email'}
        .span9
          = yield
          %form{ :action => "/next", :method => "post"}
            %input{ :type => "submit", :name => "next", :value => 'Next'}

    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", :type => "text/javascript" }/
